.mainLayout{
  display: flex;
  & .mainAside{
    flex: 2 2 0;
    height: calc(100vh - 64px);

    & div{
      font-size: 18px;
      padding-top: 40px;
      height: 80px;
      width: 100%;
      padding-left:30px;
      line-height: 40px;
      font-weight: 600;
    }
    & li{
      line-height: 40px;
      height: 40px;
      padding-left:30px;
      border-radius: 6px;
      & .text{
        color: rgba(0,0,0,0.6);
      }
      transition: 0.25s background-color linear;
    }
    & li:hover{
      background-color:rgba(84,66,225,0.3);
    }
    & .selected{
      background-color:rgba(84,66,225,0.5);
    }
  }
  & .mainContent{
    flex: 7 7 0;


    .mainContent_in{
      overflow: scroll;
      padding: 40px 32px 32px 64px;
      height: calc(100vh - 64px);
    }
  }
}
