.xing_ui_layout{
  display: flex;
  flex-direction: column;
  &_content{
    flex-grow: 1;
  }
  & &{
    flex-grow: 1;
    flex-direction: row;
  }
  &_hasAside{
    flex-direction: row;
    .xing_ui_layout{
      flex-direction: column;
    }
  }
}