.xing_ui_layout{
  display: flex;
  flex-direction: column ;
  &_header{
  }
  &_footer{
  }
  &.hasAside{
    flex-direction: row;
    .xing_ui_layout{
      flex-direction: column;
    }
  }
  & &{
    flex-grow: 1;
    flex-direction: row;
  }
  &_content{
    flex-grow: 1;
  }
  &_aside{
  }
}