.layoutHeader {
  padding:0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  @media (max-width: 700px) {
    padding: 0 20px;
  }
  .mainLogo{
    height: 32px;
  }
  .iconAndTitle {
    display: flex;
    align-items: center;
    h2 {
      font-size: 18px;
      margin: 0 12px;
    }
  }
  .headerRight{
    display: flex;
    align-items: center;
    li{
      line-height: 58px;
      cursor: pointer;
      border-top: 3px solid white;
      border-bottom:3px solid white;
      transition: border-top-color 0.25s linear;
      @media (max-width: 699px) {
        display: none;
      }
    }
    li:hover{
      border-top-color:rgba(84,66,225,0.6);
    }
  }
  .icon{
    height: 32px;
    width: 32px;
    margin-left: 20px;
    cursor: pointer;
    @media (max-width: 700px) {
      margin-left: 0;
    }
    transition: all 0.25s linear;
  }
  .icon:hover{
    transform: scale(1.05);
  }
  .menuIcon{
    height: 32px;
    width: 32px;
    margin-left: 20px;
    cursor: pointer;
    @media (max-width: 700px) {
      margin-left: 0;
    }
    @media (min-width: 700px) {
      display:none;
    }
  }
}