
.wrapper{
  h1{
    margin-bottom:30px;
  }
  h2,h3,h4{
    margin: 20px 0;
  }
  strong{
    color: rgba(86,66,225,0.7);
  }
  li{
    margin: 10px 0;
  }
  .button{
    margin-top: 10px;
    margin-inline-start: 8px;
    background-color:rgb(84,66,225);
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    color: #ffffff;
  }
}

