.icon {
  height: 36px;
  width: 36px;
  margin: 12px 0 12px;
}

.iconCardWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .iconCard {
    box-sizing: border-box;
    width: 16.66%;
    margin: 3px 0;
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.25s linear;
    border: 2px solid white;

    @media (max-width:700px) {
      width: 25px;
      border: 1px solid red;
    }
  }

  .iconCard:hover {
    border: 2px solid rgba(84, 66, 225, 0.8);
  }
}

h1 {
  margin-bottom: 30px;
}

h2,
h3 {
  margin: 20px 0;
}