.wrapper{
  h1{
    margin-bottom:30px;
  }
  h2,h3,h4{
    margin: 20px 0;
  }
  strong{
    color: rgba(86,66,225,0.7);
  }
  li{
    margin: 10px 0;
  }
  .layout{
    &_header{
      height: 10%;
      padding: 10px;
      background-color: rgba(100,200,100,0.5);
    }
    &_aside{
      width: 15vw;
      flex-shrink: 1;
      padding: 10px;
      background-color: rgba(100,300,300,0.5);
    }
    &_content{
      padding: 10px;
      background-color: rgba(100,100,200,0.5);
    }
    &_footer{
      height: 10%;
      padding: 10px;
      background-color: rgba(200,100,100,0.5);
    }
    .aside{
      padding: 10px;
      flex-direction: row;
    }
  }
}